<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Employee Management System</title>
  </head>
  <body>
    <h1 class="text-center">Add an Employee</h1>

    <div class="container">
      <form action="/add_emp" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="empname">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="emp_name"
            placeholder="Enter Name"
            value="{{emp_name}}"
            name="emp_name"
          />
        </div>

        <div class="form-group">
          <label for="empaddress">Employee Address</label>
          <input
            type="text"
            class="form-control"
            id="emp_address"
            name="emp_address"
            placeholder="Enter Address"
            value="{{emp_address}}"
          />
        </div>

        <div class="form-group">
          <label for="empcontact">Employee Contact</label>
          <input
            type="text"
            class="form-control"
            id="emp_contact_number"
            name="emp_contact_number"
            value="{{emp_contact_number}}"
            placeholder="Enter Contact"
          />
        </div>

        <div class="form-group">

            <label for="emp_role">Select Role</label>
            <select name="emp_role" class="form-control" id="emp_role">
                {%for emprole in empsroles %}
               
              <option value={{emprole.id}}>{{emprole.emp_role_name}}</option>
             {%endfor%}
            </select>
          </div>

          
        <div class="form-group">
{% comment %} 
            {%for empdept in empsdepts %}
               
            <p>{{empdept.id}}</p>
           {%endfor%} {% endcomment %}

            <label for="emp_department">Select Department</label>
            <select name="emp_department" class="form-control" id="emp_department">
                {%for empdept in empsdepts %}
               
              <option value={{empdept.id}}>{{empdept.department_name}}</option>
             {%endfor%}
            </select>
          </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
